# **Final Project Code**

## **Import Packages and Data**

In [2]:
#Import Packages
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt

In [32]:
# Read in dataframes
try:
    contract_df = pd.read_csv('/Users/kellyshreeve/Desktop/Data-Sets/Final Project/final_provider/contract.csv', parse_dates=True)
    internet_df = pd.read_csv('/Users/kellyshreeve/Desktop/Data-Sets/Final Project/final_provider/internet.csv', parse_dates=True)
    personal_df = pd.read_csv('/Users/kellyshreeve/Desktop/Data-Sets/Final Project/final_provider/personal.csv', parse_dates=True)
    phone_df = pd.read_csv('/Users/kellyshreeve/Desktop/Data-Sets/Final Project/final_provider/phone.csv', parse_dates=True)
except:
    contract_df = pd.read_csv('/datasets/final_provider/contract.csv', parse_dates=True)
    internet_df = pd.read_csv('/datasets/final_provider/internet.csv', parse_dates=True)
    personal_df = pd.read_csv('/datasets/final_provider/personal.csv', parse_dates=True)
    phone_df = pd.read_csv('/datasets/final_provider/phone.csv', parse_dates=True)

In [26]:
# Print df info
print('Contract DF')
print()
print(contract_df.info())
print()

contract_df.head()

Contract DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   begin_date         7043 non-null   object
 2   end_date           7043 non-null   object
 3   type               7043 non-null   object
 4   paperless_billing  7043 non-null   object
 5   payment_method     7043 non-null   object
 6   monthly_charges    7043 non-null   float64
 7   total_charges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB
None

,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65

In [5]:
print('Internet DF')
print()
print(internet_df.info())
print()

internet_df.head()

Internet DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB
None

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

In [6]:
print('Personal DF')
print() 
print(personal_df.info())
print()

personal_df.head()

Personal DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB
None

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [7]:
print('Phone DF')
print()
print(phone_df.info())
print()

phone_df.head()

Phone DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB
None

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

## **Prepare Data**

### Change Column Names

In [33]:
# Convert column names to snake case
contract_df.columns = (contract_df.columns
                       .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                       .str.lower())

internet_df.columns = (internet_df.columns
                       .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                       .str.lower())

personal_df.columns = (personal_df.columns
                       .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                       .str.lower())

phone_df.columns = (phone_df.columns
                       .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                       .str.lower())

print('Contract Columns:')
for column in contract_df.columns:
    print(column)
print()

print('Internet Columns:')
for column in internet_df.columns:
    print(column)
print()

print('Personal Columns:')
for columnn in personal_df.columns:
    print(column)
print()

print('Phone Columns:')
for column in phone_df.columns:
    print(column)

Contract Columns:
customer_i_d
begin_date
end_date
type
paperless_billing
payment_method
monthly_charges
total_charges

Internet Columns:
customer_i_d
internet_service
online_security
online_backup
device_protection
tech_support
streaming_t_v
streaming_movies

Personal Columns:
streaming_movies
streaming_movies
streaming_movies
streaming_movies
streaming_movies

Phone Columns:
customer_i_d
multiple_lines

* All column names look good except 'customer_i_d' and 'steraming_t_v'.
* Fix these two column names below.

In [34]:
# Fix Customer ID and Streaming TV column names
contract_df.rename(columns={'customer_i_d':'customer_id'}, errors='raise', inplace=True)
internet_df.rename(columns={'customer_i_d':'customer_id', 'streaming_t_v':'streaming_tv'}, 
                   errors='raise', inplace=True)
personal_df.rename(columns={'customer_i_d':'customer_id'}, errors='raise', inplace=True)
phone_df.rename(columns={'customer_i_d':'customer_id'}, errors='raise', inplace=True)

print('Contract Columns:')
for column in contract_df.columns:
    print(column)
print()

print('Internet Columns:')
for column in internet_df.columns:
    print(column)
print()

print('Personal Columns:')
for column in personal_df.columns:
    print(column)
print()

print('Phone Columns:')
for column in phone_df.columns:
    print(column)

Contract Columns:
customer_id
begin_date
end_date
type
paperless_billing
payment_method
monthly_charges
total_charges

Internet Columns:
customer_id
internet_service
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies

Personal Columns:
customer_id
gender
senior_citizen
partner
dependents

Phone Columns:
customer_id
multiple_lines

* All column names are successfully converted to snake case.

### Missing Values